<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Project2</title>
</head>
<body>

    <!-- Header-->
    <header id="header">
       <div class="header">
         <h1>Lorem Ipsum</h1>
           <h6>Lorem Ipsum</h6>
           <nav class="navbar">
               <div class="container">
                   <div class ="navbar-header">
                       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
               <a href="Home">Home</a>
               <a href="About Us">About Us</a>
               <a href="Sign up">Sign up</a>
               <a href="Login">Login</a>
               <a href="Looking">Browse Portfolios</a>
           </nav>
       </div>
                </div>
            </button>
       </div> 
    </header> 

    <!--Main-->
    <section id="main"></section>
    <!-- One-->
<section id="#">Lorem Epsume</section>
<img src="#">

    <!--Footers-->
    <footer id="footer">
        <div class="icons">
            <ul>
                <li><a href="#" class="icon twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon instagram"><span class ="label">Instagram</span></a></li>
            </ul>
<div class="copyright"

></div>
        </div>
    </footer>
&copy; Project Two: <a href="#">Lorem Epsum</a> 
</body>
</html>